.navbar {
    background-color: #1e1e1e;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu > li {
    position: relative;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    background-color: #333;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2a2a2a;
    list-style: none;
    min-width: 200px;
    z-index: 1000;
}

.submenu li a {
    padding: 12px 15px;
    font-weight: normal;
}

.dropdown:hover .submenu {
    display: block;
}
